{% extends "base.html" %}

{% block meta %}
    <meta name="twitter:title" content="tag {{ term.name }} - snwy.me" />
    <meta property="og:site_name" content="snwy.me" />
    <meta name="description" content="pages matching {{ term.name }}" />
    <meta property="og:description" content="pages matching {{ term.name }}" />
    <meta name="twitter:description" content="pages matching {{ term.name  }}" />
{% endblock meta %}

{% block content %}

<div class="box">
    <h2>pages matching '{{ term.name }}'</h2>
</div>

{% for page in term.pages %}
<div class="box">
    <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
    <p>&emsp;tags: {% for tag in page.taxonomies["tags"] -%} <a href="{%- set _tag = get_taxonomy_url(kind="tags", name=tag) -%}{{ _tag }}">{{ tag }}</a> {% endfor %}
        <br>&emsp;<strong>{{ page.date }}</strong></p>
</div>
{% endfor %}

{% endblock content %}
