<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog.snwy.me</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="outer">
    <div class="main" style="clear: both; position: relative; margin: auto;">
        <div class="nav">
            <h1><a href="/blog" style="text-decoration: none; color: inherit">blog.snwy.me</a></h1>
            <div class="links">
                <h2 style="float: right"><a href="/tags">tags</a></h2>
                <h2 style="float: right"><a href="https://snwy.me">snwy.me</a></h2>
            </div>
        </div>
        <hr>
        {% block content %} {% endblock %}
    </div>
</div>
</body>
</html>