{% extends "base.html" %}

{% block meta %}
    <meta name="twitter:title" content="{{ page.title }} - snwy.me" />
    <meta property="og:site_name" content="snwy.me" />
    <meta name="description" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.title  }}" />
{% endblock meta %}

{% block content %}
<div class="box">
    <h2>
        {{ page.title }}
    </h2>
    <p>tags: {% for tag in page.taxonomies["tags"] -%} <a href="{%- set _tag = get_taxonomy_url(kind="tags", name=tag) -%}{{ _tag }}">{{ tag }}</a>{% endfor %}
        <br><strong>{{ page.date }}</strong></p>
</div>
<div class="box">
    {{ page.content | safe }}
</div>
{% endblock content %}
