{% extends "base.html" %}

{% block meta %}
    <meta name="twitter:title" content="index - snwy.me" />
    <meta property="og:site_name" content="snwy.me" />
    <meta name="description" content="snwy's blog" />
    <meta property="og:description" content="snwy's blog" />
    <meta name="twitter:description" content="snwy's blog" />
{% endblock meta %}

{% block content %}
{% for page in section.pages %}
<div class="box">
    <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
    <p>tags: {% for tag in page.taxonomies["tags"] -%} <a href="{%- set _tag = get_taxonomy_url(kind="tags", name=tag) -%}{{ _tag }}">{{ tag }}</a> {% endfor %}
        <br><strong>{{ page.date }}</strong></p>
</div>
{% endfor %}
{% endblock content %}
