{% extends "base.html" %}

{% block meta %}
    <meta name="twitter:title" content="tags - snwy.me" />
    <meta property="og:site_name" content="snwy.me" />
    <meta name="description" content="tags" />
    <meta property="og:description" content="tags" />
    <meta name="twitter:description" content="tags" />
{% endblock meta %}

{% block content %}

<div class="box">
    <h2>all tags</h2>
    {% for tag in terms %}
    <ul>
        <li>
            <p><a href="{{ tag.permalink | safe }}">{{ tag.name }}</a></p>
        </li>
    </ul>
    {% endfor %}
</div>

{% endblock content %}
